.container {
    position: relative;
    width: 80%;
    margin: auto;
}

.image {
display: block;
width: 100%;
height: auto;
}

#overlay {
    position: absolute;
    bottom: 80%;
    right: 5%;
    width: 10%;
}

#overlay1 {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 30%;
}